<div class="container">
	
	<div class="jumbotron">
		<h1><i class="fas fa-campground"></i> Weekend Trip Weather Forecast</h1>
	</div>

	<div class="row">
		<div class="col-lg-4 col-sm-4">
			<h3 class="title">Yosemite National Park</h3>
			<table>
				<tr>
					<th>Day</th>
					<th>Rain</th>
					<th>Snow</th>
				</tr>
				<% @yosemite_weather.each do |day, value| %>
					<tr>
						<td><%= day.strftime('%a') %></td>
						<td><%= value[:rain].to_i %>mm</td>
						<td><%= value[:snow].to_i %>mm</td>
					</tr>
				<% end %>
			</table>
		</div>
		<div class="col-lg-4 col-sm-4">
			<h3 class="title">Death Valley National Park</h3>
			<table>
				<tr>
					<th>Day</th>
					<th>Rain</th>
					<th>Snow</th>
				</tr>
				<% @deathvalley_weather.each do |day, value| %>
					<tr>
						<td><%= day.strftime('%a') %></td>
						<td><%= value[:rain] %>mm</td>
						<td><%= value[:snow] %>mm</td>
					</tr>
				<% end %>
			</table>
		</div>
			
		<div class="col-lg-4 col-sm-4">
			<h3 class="title">Big Sur State Park</h3>
			<table>
				<tr>
					<th>Day</th>
					<th>Rain</th>
					<th>Snow</th>
				</tr>
				<% @bigsur_weather.each do |day, value| %>
					<tr>
						<td><%= day.strftime('%a') %></td>
						<td><%= value[:rain] %>mm</td>
						<td><%= value[:snow] %>mm</td>
					</tr>
				<% end %>
			</table>
		</div>

		

	</div>
	<h3 class="title"><br><br><%= @winner[0] %> has the best weekend weather with only <%= @winner[1] %>mm of total percipitation. </h3>
</div>
